* {
  box-sizing: border-box;
}

.App {
  background: #e5e5e5;
}

.app__container {
  border: 1px solid green;
  min-height: 100vh;
  max-width: 754px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.app__header {
  border: 1px solid green;
  padding: 50px 0;
  text-align: center;
}

.app__main {
  border: 1px solid green;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}

.app__sidebar {
  border: 1px solid orangered;

  width: 232px;
}

.app__content {
  border: 1px solid gold;
  width: 502px;
  display: flex;
  flex-direction: column;


}

.ticket-option-group {
  border: 1px solid lawngreen;
  height: 50px;
  margin-bottom: 20px;

}


.product-list {
  border: 1px solid salmon;
  margin-bottom: 20px;

  height: 184px;
}