@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
/* хорошим тоном является вынесение частых стилец в переменные ( например color: #4a4a4a, но в данном случае проще их вынести в апп*/

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  /*background: #e5e5e5;*/
  background: #F3F7FA;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4a4a4a;
}

.app__container {
  /*border: 1px solid green;*/
  min-height: 100vh;
  max-width: 754px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.app__header {
  /*border: 1px solid green;*/
  padding: 50px 0;
  text-align: center;
}

.app__main {
  /*border: 1px solid green;*/
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
}

.app__sidebar {
  /*border: 1px solid orangered;*/
  /*color: #4a4a4a;*/
  font-size: 13px;
  /*padding: 20px;*/
  /*width: 232px;*/
  min-width: 232px;

}

.app__sidebar h3 {
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  font-size: 12px;
}


.app__sidebar form {
  font-weight: 400;
  margin: 0 -20px;
}


.app__sidebar label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  display: block;
  padding: 10px 20px 10px 50px;
  text-transform: none;
}
.app__sidebar label:last-child {
  padding-bottom: 0px;
}

.app__sidebar label:hover {
  background: #F1FCFF;

}

.app__sidebar .filter-group {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  user-select: none;

}

.input {

}

.checker {
  position: absolute;
  /*top: 2px;*/
  width: 20px;
  height: 20px;
  margin-left: -30px;
  background-image: url(./assets/checkboxOff.svg);
}

.input:checked  + .checker{
  background-image: url(./assets/checkboxOn.svg);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.app__content {
  /*border: 1px solid gold;*/
  width: 502px;
  display: flex;
  flex-direction: column;


}

.ticket-option-group {
  height: 50px;
  margin-bottom: 20px;
  min-width: 502px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);

}

.ticket-option {
  border: 1px solid #DFE5EC;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  min-width: 169px;
  cursor: pointer;
  user-select: none;
}


.ticket-option__left-sided {
  border-radius: 5px 0  0 5px;
  border-right: 0px;
}

.ticket-option__center {

}

.ticket-option__right-sided {
  border-radius: 0 5px 5px 0;
  border-left: 0px;
}


.ticket-option:hover {
  background: #2196f3;
  color: #FFFFFF;
  border: 0;
}

.ticket-option__pressed {
  background: #2196f3;
  color: #FFFFFF;
  border: 0;
}

.ticket-list {
  /*margin-bottom: 20px;*/
  min-height: 184px;
}

.ticket {
  /*border: 1px solid #a446dc;*/
  min-height: 184px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
}

.ticket__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ticket__price {
  margin-top: 6px;
  font-size: 24px;
  color: #2196F3;
}
.ticket__logo {
  margin-top: 6px;
  width: 140px;
}

.ticket__body {

}

.ticket__segment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

.ticket-segment__flight {
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.ticket__segment:last-child {
 margin-bottom: 0px;
}

.ticket-segment__flight-label {
  color: #a0b0b9;

  /*font: #4a4a4a;*/
}

.ticket-segment__flight-value {
  text-transform: none;

  /*font: #4a4a4a;*/
}

.ticket-segment__flight-value:last-child {
  width: 140px;
  /*font: #4a4a4a;*/
}
























